
.container {
    background-color: var(--tertiary-color);
    height: 100vh;
    animation: fadeIn 1s ease-out
}
.container main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
